In [1]:
import numpy as np
import pandas as pd

In [10]:
ad_nets = pd.read_json("lookup/ad_network_id/map.json", lines=False)
ad_nets.head()

   ad_network_id ad_network_name_dynamic advertiser_network_name
0            614       614 -  Liquor.com              Liquor.com
1            594     594 - 121 Marketing           121 Marketing
2            603  603 - 121Marketing.com        121Marketing.com
3            458         458 - 183 Media               183 Media
4            481      481 - 1WorldOnline            1WorldOnline

In [11]:
advertisers = pd.read_json("lookup/advertiser_id/map.json", lines=False)
advertisers.head()

   advertiser_id           advertiser_name
0           4212       Yandex LLC - Direct
1           2011  , Muncie Power Products'
2           1952                     . PHD
3           2677                 1043 Labs
4           4372             10amazing.com

In [16]:
campaigns = pd.read_json("lookup/campaign_id/map.json")
campaigns.head()

,campaign_id,campaign_name,campaign_priority,campaign_type,provider_id,provider_type
0,1,Title,1,marketplace,,None
1,2,RedBull,1,outside,,None
2,3,Dior,1,outside,,None
3,4,DisneyPixar,1,outside,,None
4,5,PlayStation,1,outside,,None

In [18]:
pub_nets = pd.read_json("lookup/pub_network_id/map.json")
pub_nets.head()

      pub_network_dynamic  pub_network_id    publisher_name
0       614 -  Liquor.com             614        Liquor.com
1     594 - 121 Marketing             594     121 Marketing
2  603 - 121Marketing.com             603  121Marketing.com
3         458 - 183 Media             458         183 Media
4      481 - 1WorldOnline             481      1WorldOnline

In [19]:
sites = pd.read_json("lookup/site_id/map.json")
sites.head()

                 domain  site_id
0              \t https    24631
1       centredaily.com     4784
2   ledger-enquirer.com     4777
3       mcclatchydc.com     4774
4      newsobserver.com     4770

In [20]:
zones = pd.read_json("lookup/zone_id/map.json")
zones.head()

,adzone_ad_type,adzone_is_accepting_marketplace,adzone_name,adzone_type,cat,zone_id
0,0,0,Cracked iOS,default,[Arts & Entertainment],1
1,0,0,MeetMe iOS,default,"[Hobbies & Interests, Society]",2
2,0,0,MeetMe Android,default,"[Hobbies & Interests, Society]",3
3,0,1,Cracked Android,default,[Arts & Entertainment],4
4,0,0,Pictacular,default,[Hobbies & Interests],6

##########################################################################################

##########################################################################################

##########################################################################################

In [23]:
advertisers[advertisers["advertiser_name"] == "Wired"]

      advertiser_id advertiser_name
5054             10           Wired